:root {
  --font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

  /* Light Theme */
  --light-bg-color: #E0E5EC;
  --light-text-color: #5B627A;
  --light-text-secondary-color: #8A93A8;
  --light-display-bg-color: #E0E5EC;
  --light-button-bg-color: #E0E5EC;
  --light-button-text-color: #5B627A;

  --light-shadow-outer-main: 6px 6px 12px #A3B1C6, -6px -6px 12px #FFFFFF;
  --light-shadow-outer-active: 2px 2px 4px #A3B1C6, -2px -2px 4px #FFFFFF;
  --light-shadow-inner-main: inset 4px 4px 8px #A3B1C6, inset -4px -4px 8px #FFFFFF;

  /* Accent color */
  --accent-color: #3D7BFF;
  --accent-text-color: #FFFFFF;
  --accent-shadow-outer-main: 4px 4px 8px #2e60c7, -4px -4px 8px #4c96ff;
  --accent-shadow-outer-active: 2px 2px 4px #2e60c7, -2px -2px 4px #4c96ff;

  --error-color: #e74c3c;

  /* Dark Theme */
  --dark-bg-color: #2C3034;
  --dark-text-color: #E0E5EC;
  --dark-text-secondary-color: #8A91A0;
  --dark-display-bg-color: #2C3034;
  --dark-button-bg-color: #2C3034;
  --dark-button-text-color: #E0E5EC;

  --dark-shadow-outer-main: 5px 5px 10px #222528, -5px -5px 10px #363B40;
  --dark-shadow-outer-active: 2px 2px 4px #222528, -2px -2px 4px #363B40;
  --dark-shadow-inner-main: inset 4px 4px 8px #222528, inset -4px -4px 8px #363B40;
  --dark-accent-shadow-outer-main: 2px 2px 6px #234999, -2px -2px 6px #57afff;
  --dark-accent-shadow-outer-active: 2px 2px 4px #234999, -2px -2px 4px #57afff;


  /* Default to light theme variables */
  --bg-color: var(--light-bg-color);
  --text-color: var(--light-text-color);
  --text-secondary-color: var(--light-text-secondary-color);
  --display-bg-color: var(--light-display-bg-color);
  --button-bg-color: var(--light-button-bg-color);
  --button-text-color: var(--light-button-text-color);
  --current-shadow-outer-main: var(--light-shadow-outer-main);
  --current-shadow-outer-active: var(--light-shadow-outer-active);
  --current-shadow-inner-main: var(--light-shadow-inner-main);
  --current-accent-shadow-outer-main: var(--accent-shadow-outer-main);
  --current-accent-shadow-outer-active: var(--accent-shadow-outer-active);
}

[data-theme="dark"] {
  --bg-color: var(--dark-bg-color);
  --text-color: var(--dark-text-color);
  --text-secondary-color: var(--dark-text-secondary-color);
  --display-bg-color: var(--dark-display-bg-color);
  --button-bg-color: var(--dark-button-bg-color);
  --button-text-color: var(--dark-button-text-color);
  --current-shadow-outer-main: var(--dark-shadow-outer-main);
  --current-shadow-outer-active: var(--dark-shadow-outer-active);
  --current-shadow-inner-main: var(--dark-shadow-inner-main);
  --current-accent-shadow-outer-main: var(--dark-accent-shadow-outer-main);
  --current-accent-shadow-outer-active: var(--dark-accent-shadow-outer-active);
}
